---
---
@import "minima"; // start from minima, then customize below


.container { max-width: 768px; margin: 2rem auto; padding: 0 1rem; }
header nav a { margin-right: .75rem; }
.post-content img { max-width: 100%; height: auto; }